{% extends 'base.html' %}

{% block page_title %}Password Reset{% endblock %}

{% block page_header %}Reset your password {% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <p>Please enter your password</p>
    {{ form.new_password1.errors }}
    <label for="id_new_password1">New password:</label>
    {{ form.new_password1 }}
    {{ form.new_password2.errors }}
    <label for="id_new_password2">Confirm password:</label>
    {{ form.new_password2 }}
    <button>Confirm</button>
    
</form>
{% endblock %}